{
  "printWidth": 120,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": false,
  "proseWrap": "never",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}
